<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @story.user_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @story.active %>
</p>

<p>
  <strong>Url:</strong>
  <%= @story.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @story.description %>
</p>
<% @story.comments.each do |com| %>
<ul>
  <li><%= com.comment %></li>
  <li><%= com.created_at %></li>
</ul>
<%end%>
<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
